@import "tailwindcss";

@font-face {
  font-family: "YatraOne";
  src: url("./assets/YatraOne-Regular.ttf") format("truetype");
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: "Phudu";
  src: url("./assets/YatraOne-Regular.ttf") format("truetype");
  font-weight: 500; /* Medium weight is typically 500 */
  font-style: normal;
}

:root {
  --background-color: #191c24;
  --button-color: #0d6efd;
  --text-color: #e5e4e2;
}

body {
  font-family: "YatraOne", sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

h1 {
  font-weight: 900; 
}
